Attachments not visible in mail clients when additional inline attachments present

<a href="https://github.com/icanhasserver"><img src="https://avatars.githubusercontent.com/u/1003332?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [icanhasserver](https://github.com/icanhasserver)**
_Thursday Aug 25, 2011 at 06:48 GMT_
_Originally opened as https://github.com/rails/rails/issues/2686_

----

When assembling an email with mixed inline / normal attachments, only the inline attachments (i.e. images) are shown. Some mail clients don't detect the attached files, the most prominent being Thunderbird and Outlook.

Code used with ActionMailer 3.0.10:

``` ruby
class MultipartTest < ActionMailer::Base
  def test_email(recipient)
    attachments['file1.pdf'] = File.read('/somewhere/file1.pdf')
    attachments['file2.pdf'] = File.read('/somewhere/file2.pdf')
    attachments.inline['image1.gif'] = File.read('/somewhere/image1.gif')
    mail(
      :to => recipient,
      :subject => 'Multipart test'
    )
  end
end
```

The generated email comes as follows:

```
multipart/related
  multipart/alternative
    text/plain
    text/html
  attachment (disposition: inline, image1)
  attachment (disposition: attachment, file1)
  attachment (disposition: attachment, file2)
```

While ActionMailer::Base::set_content_type() chooses multipart/related as soon as it detects at least one inline attachment, mail clients always wrap the attached files (disposition: attachment) in an additional multipart/mixed layer, conforming to RFC 2046, Section 5.1.3.

When leaving out the inline attachement, the MIME type generated by ActionMailer is correct (multipart/mixed) and the attachments are visible.

Here are some MIME layouts, as generated by mail clients:

```
multipart/mixed
  multipart/alternative
    text/plain
    multipart/related
      text/html
      attachment (disposition: inline, image1)
  attachment (disposition: attachment, file1)
  attachment (disposition: attachment, file2)
```

or:

```
multipart/mixed
  multipart/related
    multipart/alternative
      text/plain
      text/html
    attachment (disposition: inline, image1)
  attachment (disposition: attachment, file1)
  attachment (disposition: attachment, file2)
```



<a href="https://github.com/noniq"><img src="https://avatars.githubusercontent.com/u/244158?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [noniq](https://github.com/noniq)**
_Friday Sep 30, 2011 at 13:44 GMT_

----

I can confirm this problem. Our workaround for now is to avoid inline attachments at all if there are any normal attachments.



<a href="https://github.com/epoch"><img src="https://avatars.githubusercontent.com/u/43175?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [epoch](https://github.com/epoch)**
_Thursday Nov 03, 2011 at 03:42 GMT_

----

I can confirm this as well.



<a href="https://github.com/tuggdev"><img src="https://avatars.githubusercontent.com/u/827987?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [tuggdev](https://github.com/tuggdev)**
_Thursday Nov 10, 2011 at 09:01 GMT_

----

Confirm, Outlook can see attachments only after removing inline attachments.



<a href="https://github.com/bradhodges"><img src="https://avatars.githubusercontent.com/u/90516?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [bradhodges](https://github.com/bradhodges)**
_Thursday Dec 15, 2011 at 02:40 GMT_

----

Yep, same here,  on my iMac,  the normal attachments show in the attachments pulldown,  but the email itself has no indication that there are normal attachments.

Maybe a blessing?  The inline attachment is just a little company logo in the emails 'signature' ,  something my users like,  but I've always found annoying!

